:root {
    --primary-color: #3e54d3;
    --secondary-color: #4fe0b6;
    --gray-color: rgb(100 105 131);
}

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    padding: 0 2rem;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid #f0f3f7;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

main {
    padding: 5rem 2rem 0 2rem;
    height: 100vh;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--gray-color);
}

a:hover {
    text-decoration: none;
    color: var(--gray-color);
}

.modal-content {
    border-radius: 2rem;
}

.modal-header {
    padding: 1rem 2rem;
    align-items: center;
}

.modal-title {
    margin-left: 1rem;
    text-align: center;
    color: var(--primary-color);
}

.header-title {
    font-size: 1.5rem;
    font-weight: bolder;
    color: #000;
}

.gradient {
    background: linear-gradient(
        to right,
        var(--primary-color),
        var(--secondary-color)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn-primary {
    display: inline-block;
    background-color: var(--primary-color);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 14px;
    border: none;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: rgb(37 50 127);
}

.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.last-login {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    color: rgb(68, 72, 90);
    font-size: 0.9rem;
}

.not-selectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.message-error {
    color: red;
    font-size: 0.9rem;
}

.message-success {
    color: green;
    font-size: 0.9rem;
}

.toast-wrapper {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.toast {
    width: 20rem;
    padding: 0.5rem 1rem;
    border-radius: 4px;
}

.toast-success {
    background-color: rgb(5, 93, 5);
    color: white;
}

.toast-error {
    background-color: rgb(119, 9, 9);
    color: white;
}
