.content-wrapper {
    display: flex;
    gap: 4rem;
}

.image-wrapper {
    width: 480px;
    height: fit-content;
    flex-shrink: 0;
}

.image-wrapper img {
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1 / 1;
}

.text-wrapper {
    width: auto;
}

.item-name {
    font-size: 3rem;
    font-weight: bold;
    color: var(--primary-color);
    margin: 0 0 1rem 0;
}

.item-price {
    font-weight: bold;
    font-size: 2rem;
}

.item-meta {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.item-description h2 {
    margin: 2rem 0 1rem 0;
}

.count-btn {
    padding: 0;
    width: 2rem;
    height: 2rem;
    border-radius: 8px;
}