:root {
    --primary-color: #3e54d3;
    --secondary-color: #4fe0b6;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    padding: 0 2rem;
}

main {
    padding: 0 2rem;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: rgb(100 105 131);
}
.header-title {
    font-size: 1.5rem;
    font-weight: bolder;
    color: #000;
}

.gradient {
    background: linear-gradient(
        to right,
        var(--primary-color),
        var(--secondary-color)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn-primary {
    display: inline-block;
    background-color: var(--primary-color);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 14px;
    border: none;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: rgb(37 50 127);
}
