{% extends 'base.html' %}
{% load humanize %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock meta %}

{% block content %}
<div id="add-item-wrapper">
  <p>Jumlah item tersedia: <span id="item-count" style="font-weight: bolder;">N/A</span></p>
  <button data-toggle="modal" data-target="#add-item-modal" class="btn-primary">+ ADD ITEM</button>
</div>

<div class="item-card-wrapper" id="item-card-wrapper">
  Loading...
</div>

<div class="modal" id="add-item-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Add New Item</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" id="add-item-form">
          {% csrf_token %}
          {{ form.as_div }}
          <div class="submit-wrapper">
            <input type="submit" value="SUBMIT" class="btn-primary" id="add-item-btn" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block script %}
<script src="{% static 'src/index.js' %}" type="module"></script>
{% endblock script%}