{% extends 'base.html' %}
{% load humanize %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{%static 'css/index.css'%}">
{% endblock meta %}

{% block content %}
<div id="add-item-wrapper">
  <p>Jumlah item tersedia: <span style="font-weight: bolder;">{{item_count}}</span></p>
  <a href="/create-item" class="btn-primary">+ ADD ITEM</a>
</div>

<div class="item-card-wrapper">
  {% for item in items %}
  <a href="/item/{{item.id}}" class="item-card shadow">
    <img src="{{item.image}}" class="item-image"></img>
    <div class="item-contents">
      <p class="item-name">{{item.name}}</p>
      <p class="item-description">{{item.description}}</p>
      <div class="item-field">
        <span>Price</span>
        <span>Rp{{item.price|intcomma}}</span>
      </div>
      <div class="item-field">
        <span>Stock</span>
        <span>{{item.amount}}</span>
      </div>
    </div>
  </a>
  {% endfor %}
</div>

{% endblock content %}