{% extends 'base.html' %}
{% load humanize %}
{% load static %}

{% block title %}Item{% endblock title %}

{% block meta %}
<link rel="stylesheet" href="{% static 'item_by_id.css' %}">
{% endblock meta %}

{% block content %}
{% for item in data%}
<div class="content-wrapper">
  <div class="image-wrapper">
    <img src="{{item.image}}" alt="">
  </div>
  <div class="text-wrapper">
    <h1 class="item-name">{{item.name}}</h1>
    <span class="item-price">Rp{{item.price|intcomma}}</span>
    <div class="item-meta">
      <span>Category: {{item.category}}</span>
      <span>Stock: <span style="font-weight: bold;">{{item.amount}}</span></span>
    </div>
    <div class="item-description">
      <h2>Description</h2>
      <p>{{item.description}}</p>
    </div>
  </div>
</div>
{% endfor %}
{% endblock content %}