{% extends 'base.html' %}
{% load static %}

{% block title %}Register{% endblock title %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock meta %}

{% block content %}
<section class="form-wrapper">
  <h1 class="form-header">Register</h1>

  <form method="POST">
    {% csrf_token %}
    {{ form.as_div }}
    <div class="submit-wrapper">
      <input type="submit" value="REGISTER" class="btn-primary" />
    </div>
  </form>

  <p class="form-footer">Already have an account? <a href="/login/">Login</a></p>
</section>
{% endblock content %}